*{
  margin: 0;
  padding: 0;
  
}


.cabecalho{

background-color: rgb(214, 214, 240);
display: flex;

}

.lista-cabecalho{

    color: coral;
    font-size: 23px;
}

.primeira-parte{
  background-image: linear-gradient(rgb(214, 214, 240),white);
  height: 500px;
  padding: 100px;
}
.primeiro-paragrafo{
  padding: 15px ;
}

.segundo-paragrafo{
  padding: 15px;
}
